<div>

<h1> The game you purchased is out of stock.</h1>
<h2> There are {{data.copiesLeft}} copies left </h2>
<h2>Either buy less copies of the game or check out the rest of our game library</h2>

</div>
