<div style="text-align: center;">

<h2>Customer - Please Sign In</h2>
  <form action="/customerAuth" class="form-inline" style="display: inline-block; width: 210px; text-align: center;">
    <div class="form-group">
      <div>
        <label for="user">Customer Name:</label>
        <input type="text" name="user" id="user" width="20" value="Any Name will work" class="form-control">
      </div>
      <div>
        <label for="pass">Password:</label>
        <input type="text" name="pass" id="pass" width="48" value="Any password will work" class="form-control">
      </div><br>
    <input type="submit" value="Login" class="btn btn-success" >
  </form>

    <br><hr>
    <h2>Admin - Please Sign In</h2>
    <form action="/adminAuth" style="display: inline-block; width: 210px; text-align: center;">
      <div class="form-group">
        <div>
          <label for="male">Admin Username:</label>
          <input type="text" name="user" id="user" value="Any Name will work" class="form-control">
        </div>
        <div>
          <label for="pass">Admin Password:</label>
          <input type="text" name="pass" id="pass" value="Any password will work" class="form-control">
        </div><br>
        <input type="submit" value="Login" class="btn btn-info">
      </div>
    </form>

</div>
</div>
