<style>
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
th {
   background-color: #dddddd;
}
</style>


<h3>Employees with Last Name: {{name}}</h3>
<hr />
<table>
  <tr>
    <th>Id</td>
    <th>First Name</td>
    <th>Last Name</td>
  </tr>
  <tr>
    {{#each employees}}
      <td>
        {{this.id}}
      </td>
      <td>
        {{this.firstName}}
      </td>
      <td>
        {{this.lastName}}
      </td>
    </tr>
  {{/each}}
</table>
