<!doctype html>
<html>
<head>
<title>CS602</title>
</head>
<body>
<header>
  <img src="/images/calvinAndHobbes.png" alt="banner">
</header>
<h1>CS602 HW2 - Mark Outcalt</h1>
  <a href="/addEmployee">Add Employee</a>
<br />
<hr />


{{{body}}}

</body>

</html>
